html { 
  background: url(http://www.mrwallpaper.com/wallpapers/colorful-leaves-hd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}



.navbutton {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color:white;
  display:inline-block;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  background-color: #333;
  width: 19%;
}

.navbutton:hover{

  background-color: #666;
}

.navbar{
  background-color: #333;
  width: 100%;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  display:inline-block;
  text-align: justify;
}


.jumbotron {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top:20%;
  text-align: center;
  clear:both;
}


.jumbotron h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.link a{
 text-decoration:none;
 color:white;
}
.link a:hover{
 text-decoration:none;
 color:#F57676;
}



.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-main:hover {
  background-color: #666;
  border: 2px solid #333;
}



.title{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
}


.aboutme{
  background-color:#333;
  clear:both;
  overflow:auto;
  width: auto;
  padding: 30px 5% 10px 5%;
}



.aboutme .text{
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  padding: 20px 20px; 
  float:left;
}



.aboutme .pictures{
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  float:left;
  margin: 5% 0;
}



.aboutme .logo{
  width : 40px;
  height: 40px;
  border-radius:5px;
  margin: 2px 5px 2px 5px;
}

.aboutme .profpic{
  max-width : 80%;
  max-height: 80%;
  border-radius:20%;
  padding: 10% 10%;
}

span{
  color: #F57676;
}




.cv{
  background-color: #333;
  clear:both;
  overflow:auto;
  width: auto;
  padding: 30px 5% 10px 5%;
}

.research{
  background-color: #333;
  clear:both;
  width: auto;
  overflow:auto;
  padding: 30px 5% 10px 5%;
}


.future{
  background-color: #333;
  clear:both;
  overflow:auto;
  width: auto;
  padding: 30px 5% 10px 5%;
}

.portfolio{
  background-color: #333;
  clear:both;
  overflow:auto;
  width: auto;
  padding: 30px 5% 10px 5%;
}


.p1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  padding: 20px 20px;
  float:left;
  overflow:auto;
}

.p2{
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  padding: 20px 20px;
  float:left;
  overflow:auto;
}

.p2 a{
  text-decoration:none;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.p2 a:hover{
  text-decoration:none;
  color: #F57676;
}

.cv{
}

.portfoliopage{
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  padding: 20px 20px;
  float:left;
  height: 500px;
}

.portfoliopage:hover{
  background-color: #666;
}



.portpic{
  max-width : 90%;
  max-height: auto;
  padding: 5% 5%;
}

.progress {
  border: 3px solid #333;
  background: #666;
  overflow: hidden;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  box-shadow: 1px 1px 1px #777;
  -moz-box-shadow: 1px 1px 1px #777;
  -webkit-box-shadow: 1px 1px 1px #777;
  float:right;
  width: 400px;
  text-align: center;
}
.progress > span {
  background-color:#F57676;
  display: block;
  height: 17px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color:black;
  text-align:center;
}

.wrap{
  clear:both;
  padding-top:5px;
}

#dutch{
  width: 100%;
}

#english{
  width: 90%;
}

#german{
  width:40%;
}

#latex{
  width:90%;
}

#cplusplus{
  width:50%;
}

#javascript{
  width:45%;
}

#html{
  width:60%;
}

#python{
  width:40%;
}


















