html { 
  background: url(http://www.mrwallpaper.com/wallpapers/colorful-leaves-hd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.firstpage{
}

.header{
  background-color:#333333;
  border-radius:10px;
}

.container {
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 0 10px;
}

.space{
 max-width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  height: 450px;
}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  position:inline;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.link a{
 text-decoration:none;
 color:white;
}
.link a:hover{
 text-decoration:none;
 color:#F57676;
}

.back-to-top{
  background-color:black;
  color:white;
  border: 1px solid white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  margin-left: 50px;
  margin-top:100px;
}

.btt{
  padding-top: 20px;
  text-align: center;
}

.back-to-top:hover{
  background-color:#333;
  color:white;
  border: 1px solid white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-main:hover {
  background-color: #666;
  border: 2px solid #333;
}

.white-button{
  border: 3px solid #333333;
  background-color: #FFFFFF;
  text-decoration:none;
  margin: 10px 10px 10px 10px;
  font-family:'Raleway', sans-serif;
  color: #333333;
  margin:-50px 0px 20px 0px;
  padding: 5px 2px 5px 2px;
  
}

.supporting {
  padding-top: 10px;
  padding-bottom: 100px;
  clear:both;
}

.supporting .col {
  float: left;
  width: 33%;

  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting .col a{
  text-decoration:none;
  color:white;
}

.supporting .col a:hover{
  text-decoration:none;
  color:black;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-family: 'Raleway', sans-serif;
  color:white;	
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 0px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}


.title{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
}


.aboutme{
  background-color:#333;
  clear:both;
  overflow:auto;
  width: auto;
  padding: 10px 5%;
  border-radius:10px;
}



.aboutme .text{
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  padding: 20px 20px; 
  float:left;
}



.aboutme .pictures{
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  float:left;
}



.aboutme .logo{
  width : 40px;
  height: 40px;
  border-radius:5px;
  margin: 2px 5px 2px 5px;
}

.aboutme .profpic{
  max-width : 80%;
  max-height: 80%;
  border-radius:20%;
  padding: 10% 10%;
}

span{
  color: #F57676;
}




.past{
  background-color: #333;
  clear:both;
  overflow:auto;
  width: auto;
  padding: 10px 5%;
  border-radius:10px;
}

.present{
  background-color: #333;
  clear:both;
  width: auto;
  overflow:auto;
  padding: 10px 5%;
  border-radius:10px;
}


.future{
  background-color: #333;
  clear:both;
  overflow:auto;
  width: auto;
  padding: 10px 5%;
  border-radius:10px;
}


.p1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  padding: 20px 20px;
  float:left;
  overflow:auto;
}

.p2{
  color: white;
  font-family: 'Raleway', sans-serif;
  width:45%;
  padding: 20px 20px;
  float:left;
  overflow:auto;
}

.p2 a{
  text-decoration:none;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.p2 a:hover{
  text-decoration:none;
  color: #F57676;
}

.cv{
}


















